logs
project/project/target
project/project
project/target
target
tmp
.history
.cache
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.vagrant
project/plugins.sbt
conf/application.conf
node_modules
public/**/*.gz
public/*.gz
public/images/
public/javascripts/
public/stylesheets/
