@main("Welcome to PlayGround", 3) {
    <div class="container">
        <div class="jumbotron">
            <h1>Your App Is Ready</h1>
            <p class="lead">
                End to end application development with LESS, Boostrap, RequireJS, Mocha Tests, JSHint, Grunt, Karma,
                AngularJS, Play2, Scala, Postgres, Slick, and more!
            </p>
            <a class="btn btn-large btn-success" href="https://github.com/moatra/playground">
                Get started today
            </a>
        </div>
    </div>
}
