@main("Welcome to PlayGround", 0) {
    <div class="container">
        <h1>Interactive Task List</h1>
        <div ng-controller="taskList">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Description</th>
                    <th>Created</th>
                    <th></th>
                </tr>
                <tr ng-repeat="task in tasks.items">
                    <td>
                        <input type="checkbox" ng-model="task.completed" ng-change="save(task)"/>
                    </td>
                    <td>
                        <input type="text" ng-model="task.description" ng-change="save(task)"/>
                    </td>
                    <td>
                        <span>{{task.created | timestamp:'l LT'}}</span>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="delete(task)">
                            <i class="icon-remove"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" ng-model="newTask.completed" />
                    </td>
                    <td>
                        <input type="text" ng-model="newTask.description" />
                    </td>
                    <td>
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="create()">
                            <i class="icon-upload"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
