@(message: String)

@main("Welcome to Play 2.1") {
<div class="container">
    <div class="jumbotron">
        <h1>Your App Is Ready</h1>
        <p class="lead">
            End to end application development with LESS, Boostrap, RequireJS, Jasmine Tests, JSLint,
            AngularJS, Play2, Scala, Postgres, Slick, and more!
        </p>
        <a class="btn btn-large btn-success" href="https://github.com/moatra/play2-bootstrap">
            Get started today
        </a>
    </div>
    <div class="row">
        <div class="span4">
            <h2>Feature 1</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <a href="/tour" class="btn">
                Learn More
                <i class="icon-double-angle-right"></i>
            </a>
        </div>
        <div class="span4">
            <h2>Feature 2</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <a href="/tour" class="btn">
                Learn More
                <i class="icon-double-angle-right"></i>
            </a>
        </div>
        <div class="span4">
            <h2>Feature 3</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <a href="/tour" class="btn">
                Learn More
                <i class="icon-double-angle-right"></i>
            </a>
        </div>
    </div>
</div>
}
