@(title: String, tab: Int = -1)(content: Html)
@import org.joda.time.DateTime
@activeTab(current: Int)(tabContent: Html) = {
    @if(current == tab) {
        <li class="active">
            @tabContent
        </li>
    } else {
        <li>
            @tabContent
        </li>
    }
}
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @if(!play.Play.isProd()) {
            <!-- In debug mode, require.js individually loads the modules.  In production, the almond shim is included in main and handles require/define duties -->
            <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor/require.js")" data-main="@routes.Assets.at("javascripts/main.js")"></script>
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        } else {
            <script type="text/javascript" src="@routes.Assets.at("javascripts/main.min.js")"></script>
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.min.css")">
        }
    </head>
    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="/" class="brand">Play2 WebApp</a>
                    <ul class="nav">
                        @activeTab(0) {
                            <a href="/">Home</a>
                        }
                        @activeTab(1) {
                            <a href="/data">Data</a>
                        }
                        @activeTab(2) {
                            <a href="/docs">Documentation</a>
                        }
                        @activeTab(3) {
                            <a href="/about">About</a>
                        }
                    </ul>

                    <ul class="nav pull-right ">
                        <li>
                            <a href="/register">
                                <i class="icon-user"></i>
                                Register
                            </a>
                        </li>
                        <li>
                            <a href="/login">
                                <i class="icon-lock "></i>
                                Log In
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @(content)
        <div class="container footer">
            <hr/>
            <p class="muted">
                &copy; Example, @{DateTime.now.year.get}
            </p>
        </div>
    </body>
</html>
